body {
    background: #ffffff;
}

table {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.element {
    background: #000;
    border: 6px solid black;
}

.white {
    background: #ffffff;
}

.yellow {
    background: yellow;
}

.red {
    background: red;
}

.grey {
    background: darkgrey;
}

.blue {
    background: blue;
}

table tr:last-child td{
    background: #ffffff;
    border: none;
}